{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Find a Starry Night!-You are a logged in user</h1>
		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-1 padding-none">
			<a href="{{url_for('addState')}}">
				<button class="btn btn-default" id="new-state">
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>Add New State
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-1">
			<a href="{{url_for('newSiteNoState')}}">
				<button class="btn btn-default" id="new-site">
					<span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span>Add Site to State Not Listed Here
				</button>
			</a>
		</div>
	</div>
	{% for state in states %}
		{% if state.id in sites %}
		<a href = "{{url_for('showSite', state_id = state.id)}}">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-9 state-list">
						<h3>
							{{state.name}} - {{state.abbrev}}
							{% if currentUserID == 1 %}
									 -
									<a href="{{url_for('editState', state_id = state.id )}}">
									Edit State |
									</a>
						<a href="{{url_for('deleteState', state_id = state.id )}}">
					Delete State
			</a>
							{% endif %}
						</h3>
					</div>
				<div class="col-md-1"></div>
			</div>
		</a>
		{% endif %}
	{% endfor %}
{% endblock %}
